@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #010010;
    --text-color: #FFFFFF;
    --special-color: #73FDAA;
    --special-button: #BBFFFF;
}

.orb {
    animation: spin 15s linear infinite;
    z-index: -10;
    width: 1px;
    height: 1px;
    background-color: transparent;
    border-radius: 100%;
    box-shadow:40px 40px 100px 100px var(--special-color);
    opacity: 0.5;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


